{% extends 'base.html.twig' %}
{% block title %} Parent {% endblock %}
{% block body %}
    <h1>Parent</h1>

    {% if profile is defined %}
        <h4>Your budget is {{ profile.profileBudget }} $</h4>
    {% else %}
        <p>No profile found.</p>
    {% endif %}

{% endblock %}

