{% extends 'base.html.twig' %}
{% block title %} Student  {% endblock %}
{% block body %}
<div class="text-center">
    <h1>Student</h1>

    {% if profile is defined %}
        <h4>Your budget is {{ profile.profileBudget }} $</h4>
    {% else %}
        <p>No profile found.</p>
    {% endif %}
</div>




{% endblock %}

