{% extends 'base.html.twig' %}

{% block title %}Update Password{% endblock %}

{% block body %}
    <h1>Update Password</h1>

    {{ form_start(form) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <button type="submit" class="btn btn-primary">Update Password</button>
    {{ form_end(form) }}
{% endblock %}
