{# templates/chart.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Graphique des dépenses{% endblock %}

{% block body %}
    <h1>Graphique des dépenses</h1>
    <canvas id="myChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var chartData = {{ chartData|raw }};
            var days = chartData.map(function(dataPoint) { return dataPoint.name; });

            var datasets = [];
            var categoryColors = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'];

            var categories = Object.keys(chartData[0]).filter(key => key !== 'name');
            categories.forEach(function(category, index) {
                datasets.push({
                    label: category,
                    data: chartData.map(function(dataPoint) { return dataPoint[category]; }),
                    backgroundColor: categoryColors[index % categoryColors.length],
                    stack: 'Stack 0'
                });
            });

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: days,
                    datasets: datasets
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        });
    </script>
{% endblock %}
