

.btn-custom {
    background-color: transparent;
    color: #FF698D;
    border-color: #FF698D;
}

.btn-custom:hover {
    background-color: #FF698D;
    border-color: #FF698D;
    color: white;
}

body {
    align-items: center;
    background-color: #e4e4e4;
    font-family: 'Montserrat', sans-serif;
}

.custom-link {
    color: #FF698D;
}

.custom-link:hover {
    color: white;
    background-color: #FF698D;
    border-color: #FF698D;
}

/* Définir le style pour .btn.btn-primary */
.btn.btn-primary {
    background-color: #FF698D;
    border-color: #FF698D;
    color: white;
}

/* Définir le style pour .btn.btn-primary:hover */
.btn.btn-primary:hover {
    background-color: #FF5C7D; /* Couleur de survol légèrement plus sombre */
    border-color: #FF5C7D; /* Couleur de bordure de survol légèrement plus sombre */
    color: white;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px; /* sidebar initially hidden */
    z-index: 100;
    padding: 48px 0; /* Adjust as needed */
    overflow-x: hidden;
    overflow-y: auto; /* Show scrollbar if necessary */
    background-color: black; /* Background color */
    border-right: 1px solid #FF698D; /* Right border */
    transition: left 0.3s; /* Smooth transition */
}

.sidebar.active {
    left: 0; /* Sidebar visible */
}
.sidebar ul li:last-child {
    margin-bottom: -100px; /* Réduire l'espace entre le lien Delete My Account et le dropdown menu */
}

.sidebar-heading {
    text-align: center;
    padding: 10px 15px;
}

.sidebar ul {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar ul li {
    margin: -5px;
    padding: 7px;
}

.sidebar ul li a {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    padding: .3rem 2rem;
    color: #ffffff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #FF698D; /* Highlight on hover */
}

/* Button style */
.sidebar-toggle {
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: #FF698D;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

.sidebar-toggle:focus {
    outline: none;
}

/* Icon style */
.sidebar ul li a i {
    margin-right: 10px; /* Add spacing between icon and text */
}
