{# templates/contact/confirmation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <h1>Confirmation</h1>
    <p>Votre message a été envoyé avec succès. Nous vous contacterons bientôt.</p>
{% endblock %}

